<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>local.dotfiles.disk-cleanup</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/sh</string>
      <string>{{ .chezmoi.homeDir }}/.local/libexec/dotfiles/disk-cleanup</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>{{ .chezmoi.homeDir }}/.local/share/mise/shims:/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
      <key>HOMEBREW_NO_AUTO_UPDATE</key>
      <string>1</string>
    </dict>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Weekday</key>
      <integer>0</integer>
      <key>Hour</key>
      <integer>4</integer>
      <key>Minute</key>
      <integer>17</integer>
    </dict>
    <key>ProcessType</key>
    <string>Background</string>
    <key>LowPriorityIO</key>
    <true/>
    <key>Nice</key>
    <integer>10</integer>
    <key>StandardOutPath</key>
    <string>{{ .chezmoi.homeDir }}/Library/Logs/dotfiles/disk-cleanup.log</string>
    <key>StandardErrorPath</key>
    <string>{{ .chezmoi.homeDir }}/Library/Logs/dotfiles/disk-cleanup.log</string>
  </dict>
</plist>
