{{ $profile := includeTemplate "profile" . | fromJson }}
{{ if not $profile.capabilities.zed }}
.config/zed
{{ end }}
{{ if not $profile.capabilities.workstation }}
Library/Application Support/com.mitchellh.ghostty
{{ end }}
{{ if $profile.capabilities.workload }}
.claude
.codex
.config/1Password/ssh
.config/git
.local/libexec/dotfiles/git-ssh-sign-agentless
.ssh
{{ end }}
