[core]
	ignorecase = false

{{ $profile := includeTemplate "profile" . | fromJson -}}
{{ if $profile.capabilities.developer -}}
[gpg]
	format = ssh

[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers

[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential

{{ end -}}
[include]
	path = ~/.gitconfig.local
{{ if $profile.capabilities.githubAppAuth -}}
[include]
	path = ~/.config/dotfiles/github-app.gitconfig
{{ end -}}
