[core]
	ignorecase = false

{{ $profile := includeTemplate "profile" . | fromJson -}}
[gpg]
	format = ssh

[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers

{{- /* gh is a mise tool; the shim path works for GUI Git clients that lack the shell PATH. */}}
{{- $gh := printf "\"%s/.local/share/mise/shims/gh\"" .chezmoi.homeDir }}
[credential "https://github.com"]
	helper =
	helper = !{{ $gh }} auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !{{ $gh }} auth git-credential

[include]
	path = ~/.gitconfig.local
