[Unit]
Description=dotfiles software update every six hours

[Timer]
OnCalendar=*-*-* 00,06,12,18:00:00
RandomizedDelaySec=15m
Persistent=true

[Install]
WantedBy=timers.target
