<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>AllSpacesAndDisplays</key>
  <dict>
    <key>Linked</key>
    <dict>
      <key>Content</key>
      <dict>
        <key>Choices</key>
        <array>
          <dict>
            <key>Configuration</key>
            <data>YnBsaXN0MDDSAQICA1R0eXBlW3N5c3RlbUNvbG9y0QQFVWJsYWNr0AgNEh4hJwAAAAAAAAEBAAAAAAAAAAYAAAAAAAAAAAAAAAAAAAAo</data>
            <key>Files</key>
            <array/>
            <key>Provider</key>
            <string>com.apple.wallpaper.choice.color</string>
          </dict>
        </array>
        <key>EncodedOptionValues</key>
        <data>YnBsaXN0MDDRAQJWdmFsdWVz0AgLEgAAAAAAAAEBAAAAAAAAAAMAAAAAAAAAAAAAAAAAAAAT</data>
        <key>Shuffle</key>
        <string>$null</string>
      </dict>
      <key>LastSet</key>
      <date>2001-01-01T00:00:00Z</date>
      <key>LastUse</key>
      <date>2001-01-01T00:00:00Z</date>
    </dict>
    <key>Type</key>
    <string>linked</string>
  </dict>
  <key>Displays</key>
  <dict/>
  <key>Spaces</key>
  <dict/>
  <key>SystemDefault</key>
  <dict>
    <key>Linked</key>
    <dict>
      <key>Content</key>
      <dict>
        <key>Choices</key>
        <array>
          <dict>
            <key>Configuration</key>
            <data>YnBsaXN0MDDSAQICA1R0eXBlW3N5c3RlbUNvbG9y0QQFVWJsYWNr0AgNEh4hJwAAAAAAAAEBAAAAAAAAAAYAAAAAAAAAAAAAAAAAAAAo</data>
            <key>Files</key>
            <array/>
            <key>Provider</key>
            <string>com.apple.wallpaper.choice.color</string>
          </dict>
        </array>
        <key>EncodedOptionValues</key>
        <data>YnBsaXN0MDDRAQJWdmFsdWVz0AgLEgAAAAAAAAEBAAAAAAAAAAMAAAAAAAAAAAAAAAAAAAAT</data>
        <key>Shuffle</key>
        <string>$null</string>
      </dict>
      <key>LastSet</key>
      <date>2001-01-01T00:00:00Z</date>
      <key>LastUse</key>
      <date>2001-01-01T00:00:00Z</date>
    </dict>
    <key>Type</key>
    <string>linked</string>
  </dict>
</dict>
</plist>
